*.mp4
*.MOV
*.mov
*.avi
*.mkv
*.flv
*.webm
*.wmv
*.3gp
*.m4v
*.ts
*.vob
*.mpg
*.mpeg
Thumbs.db
.DS_Store
desktop.ini

# Files over 100MB (GitHub limit)
subash files/BAJAJ 2025/M8 PROJECT/2021-2025 (PROJECT DETAILS)-20250510T040859Z-008.zip
subash files/BAJAJ 2025/M8 PROJECT/proceding/2025 ICMSCI Proceedings.pdf
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_29th_OCT_2022.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_29th_OCT_2022_AU_0.50v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_29th_OCT_2022_Ag_0.25v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_29th_OCT_2022_Au_0.25v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_29th_OCT_2022_Au_0.75v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_29th_OCT_2022_Au__1v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_29th_OCT_2022_Ni__0.25V.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_29th_OCT_2022_Ni__0.50V.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_29th_OCT_2022_Ni__0.75V.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_29th_OCT_2022_Ni__1V.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_29th_OCT_2022_Test1.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_29th_OCT_2022_Test3.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_W_0.25v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_W_0.50v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_W_0.75v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_W_1v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_ag_0.25v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_ag_0.50v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_ag_0.75v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_ag_1v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_pt_0.25v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_pt_0.50v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_pt_0.75v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/3D MEMS MH_Final_pt_1v.mph
subash files/MKCE/PROJECT MKCE/M3 Minor Project/MH001.mph
subash files/SOLIDWORKS 2023 SP04/eDrawings/eDrawi~1.cab
subash files/SOLIDWORKS 2023 SP04/swwi/data/Chm_En~1.cab
subash files/SOLIDWORKS 2023 SP04/swwi/data/HelpFi~1.cab
subash files/SOLIDWORKS 2023 SP04/swwi/data/PhotoV~1.cab
subash files/SOLIDWORKS 2023 SP04/swwi/data/Progra~1.cab
subash files/SOLIDWORKS 2023 SP04/swwi/data/Sample~1.cab
subash files/SOLIDWORKS 2023 SP04/swwi/data/Shader~1.cab
subash files/SOLIDWORKS 2023 SP04/swwi/data/i386_C~2.cab
subash files/SOLIDWORKS 2023 SP04/swwi/data/i386_H~2.cab
subash files/SOLIDWORKS 2023 SP04/swwi/data/i386_P~3.cab
subash files/SOLIDWORKS 2023 SP04/swwi/data/i386_S~6.cab
subash files/SOLIDWORKS 2023 SP04/swwi/data/i386_S~7.cab
subash files/drive photos/drive-download-20240318T064936Z-001.zip
subash files/githhub project/COMSOLE/PROJECT FILE.zip
subash files/githhub project/COMSOLE/PROJECT FILE/3D MEMS MH_Final_29th_OCT_2022_Au__1v.mph
subash files/githhub project/COMSOLE/PROJECT FILE/3D MEMS MH_Final_29th_OCT_2022_Ni__0.25V.mph
subash files/githhub project/COMSOLE/PROJECT FILE/3D MEMS MH_Final_W_0.25v.mph
subash files/githhub project/COMSOLE/PROJECT FILE/3D MEMS MH_Final_ag_0.25v.mph
subash files/githhub project/COMSOLE/PROJECT FILE/3D MEMS MH_Final_pt_0.25v.mph
subash files/githhub project/COMSOLE/PROJECT FILE/project file/3D MEMS MH_Final_ag_0.25v.mph
